header{
	/*background-color: red;*/
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
}

.header__nav{
	display: flex;
	margin-top: 11px;	
}

.menu-btn{
	display: none;
}

.menu-icon{
	cursor: pointer;
    display: inline-block;
    float: right;
   	padding-top: 8px;	
    position: relative;
    user-select: none;
    content: url("img/menu-icon.svg");
}

.menu-btn:checked ~ .menu {
    display: block;
}

.menu {
	display: none;
	list-style: none;
	position: absolute;
	top: 162px;
	left: calc(50% - 267px);
	text-transform: uppercase;
}

.menu li{
	display: inline-block;
	margin: 0 10px 0 10px;
	letter-spacing: 2.6px;
}

.menu li a{
	text-decoration: none;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	color: rgb(69, 80, 94);
	text-transform: uppercase;
	line-height: 2.182;
	text-align: center;
}

.menu li a:hover {
	color: #8ed1b7;
}

.header__logo:hover, .headernav__user:hover, .headernav__cart:hover {
	opacity: 0.7;
}

.menu-icon:hover{
	opacity: 0.3;
}

.header__search input{
	border: none;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	color: rgb(69, 80, 94);
	text-transform: uppercase;
	line-height: 2.182;
	letter-spacing: 2.15px;
}

.header__search {
	margin-top: 26px;
	display: flex;
	padding-left: 2px;
}

.header__searchicon{
	margin-top: 5px;
	margin-right: 7px;	
}

.header__searchicon img{
	width: 22px;	
}

.header__logo{
	margin-right: 7.8%;
	margin-top: -2px;
}

.headernav__cart {
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 2px;
}

.headernav__cart::after {
	content: "3";
	position: relative;
	top: -20px;
	left: -20px;
	background-color: black;
	color: white;
	border-radius: 50%;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	padding: 2px 5px 2px 5px;
}

