.link:hover{
	opacity: 0.6;
}

header{
	height: 140px;
}

.header__nav{
	display: flex;
	margin-top: 11px;
	position: absolute;
	top: 58px;
	right: 29px;		
}

.menu-btn{
	display: none;
}

.menu-icon{
	cursor: pointer;
    display: inline-block;
    float: right;
   	padding-top: 8px;	
    position: relative;
    user-select: none;
    content: url("img/menu-icon.svg");
}

.menu {
	display: none;
	list-style: none;
	position: absolute;
	top: 42px;
	left: calc(50% - 252px);
	text-transform: uppercase;
    background-color: white;
    animation-name: menu-animation;
    animation-duration: 1s;
    padding-left: 0;
    margin-left: 40px;	
    

}

.menu-btn:checked ~ .menu {
    display: block;
}

.menu li{
	display: inline-block;
	margin: 0 9px 0 9.5px;
	letter-spacing: 2.6px;
}

.menu li a{
	text-decoration: none;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	color: rgb(69, 80, 94);
	text-transform: uppercase;
	line-height: 2.182;
	text-align: center;
}

.menu li a:hover {
	color: #8ed1b7;
}

.header__logo:hover, .headernav__user:hover, .headernav__cart:hover {
	opacity: 0.7;
}

.menu-icon:hover{
	opacity: 0.3;
}

.header__search input{
	border: none;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	color: rgb(69, 80, 94);
	text-transform: uppercase;
	line-height: 2.182;
	letter-spacing: 2.15px;
	margin: 0 0 0 0;
}

.header__search {
	margin-top: 26px;
	display: flex;
	padding-left: 2px;
}

.header__searchicon{
    margin-top: 5px;
    margin-right: 7px;
    margin-left: -1px;
    cursor: pointer;
}	
}

.header__searchicon img{
	width: 22px;	
}

.headernav__cart {
	margin-left: 4px;
	margin-right: 0px;
	margin-top: 2px;
}

.headernav__cart::after {
	content: "3";
	position: relative;
	top: -20px;
	left: -20px;
	background-color: black;
	color: white;
	border-radius: 50%;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	padding: 2px 5px 2px 5px;
	/*cursor: pointer;*/
}

.wrap__header:before{
	content: '';
	background-color: #f1f1f1;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 152px;
	margin-left: -19.75%;
}


@media(min-width: 640px){
	header{
		padding-top: 45px;
		display: flex;
		justify-content: center;
		height: 155px;
	}

	.header__logo{
		margin-right: 7.8%;
		margin-top: -2px;
	}

	.header__nav{
		position: unset;
	}

	.headernav__cart {
		margin-left: 20px;
		margin-right: 20px;
	}

	.menu {
		top: 162px;
		left: calc(50% - 267px);
	}


	.headernav__cart::after {
		top: -38px;
		left: 16px;
	}

	.header__search input{
		margin: -105px 0 0 0;
	}
}

@media(min-width: 800px){
	header{
		justify-content: space-between;
		height: 70px;
	}
	
	.header__search input{
		margin: -19px 0 0 0;
	}
}

@media(min-width: 915px){
	.headernav__cart::after {
		top: -20px;
		left: -20px;
	}

	.headernav__cart {
		margin-right: 10px;
	}
}