.products{
	/*margin-top: 0px;*/
}

.products__filter{
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 105px;
	margin-top: 50px;
	margin-left: 10px;
	border-bottom: 1px solid #e9e9e9;

}

.filter-btn {
	display: none;
}

.filter-menu{
	display: none;
	list-style: none;
	position: relative;
	margin: 0 5% 0 0;
	padding: 0;
	top: -22px;
	left: 34px;
	letter-spacing: 2.2px;
	flex-wrap: wrap;
	animation-name: menu-animation;
	animation-duration: 1s;
	
}

.filter-btn-icon{
	content: url("img/menu-icon.svg");
	padding-top: 10px;
	cursor: pointer;
}


.filter-btn:checked ~ .filter-menu {
    display: flex;
}

.filter-menu li a{
	margin: 0 12px 0 12px;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	color: rgb(69, 80, 94);
	text-transform: uppercase;
}

.filter__searchicon{
	cursor: pointer;
	position: relative;
	top: 10px;
	left: -3px;
}

.filter__searchicon img{
	padding-top: 10px;
}

.filter-menu .filter__active{
	/*color: #ade1c5;*/
}

.filter-menu li:hover a{
	color: #ade1c5;
}

.products__filter__search {
    margin: -5px -118px 0 0;
}


.products__filter__search input{
	border: none;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	color: rgb(69, 80, 94);
	text-transform: uppercase;
	line-height: 2.182;
	letter-spacing: 2.15px;	
}


.products__itemsarea{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 32px;
}

.products__item{
	height: 510px;
	margin-top: 40px;
	margin-bottom: 	
	box-shadow: -7px 3px 25px 10px #DFDFDF;
}

.products__item__imgarea{
	height: 300px;
	display: flex;
	justify-content: center;
}


.products__item__buybtn {
    position: relative;
    top: 61px;
    left: -5px;
    text-align: center;  
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.4px;
    border-top: 1px solid #eeeeee;
	width: 80%;
	margin-left: 10%;
}

.products__item__buybtn img{
	position: relative;
	top: 13px;
}



.products__item__image{
	width: 140px;
	height: 140px;
	/*background-color: #e7a8c6;*/
	overflow: hidden;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

.products__item__image1{
	background-image: url("img/products/lava-vtase.jpg");
}

.products__item__image2{
	background-image: url("img/products/ceramic-pot.jpg");
}

.products__item__image3{
	background-image: url("img/products/dinnerware.jpg");
}

.products__item__image4{
	background-image: url("img/products/norm-jars.jpg");
}

.products__item__image5{
	background-image: url("img/products/floating-boat.jpg");
}

.products__item__image6{
	background-image: url("img/products/ceramic-pot2.jpg");
}

.products__item__new::before, .products__item__hot::before {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	z-index: 2;
	margin-right: -23px;
	margin-top: 9.85vw;
	font-size: 14px;
	font-family: Geogrotesque, sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	overflow: hidden;
	padding: 17px 0 0 10px;
	box-sizing: border-box;
}

.products__item__new:before{
	content: "new";
	background-color: #8ed1b7;
}



.products__item__hot:before{
	content: "hot";
	background-color: #e7a8c6;
}

.products__item__iteminfo{
	/*margin-left: calc(50% - 60px);*/
	text-align: center;
}

.products__item__iteminfo__name {
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(0, 0, 0);
	margin-top: 8px;
	margin-left: -4px;
}

.products__item__iteminfo__price {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgb(0, 0, 0);
	margin-top: 14px;
}

.oldprice{
	text-decoration: line-through;
}

.newprice{
	color: #8ed1b7;
	margin-left: 7px;	
}

.products__item__menu{
	position: absolute;
	margin-left: 1.9%;
	margin-top: 1.4vw;
}

.products__item__menu__like{
	margin: 33px 0 17px 0;
}

@media (min-width: 640px){
	.products__itemsarea{
		flex-direction: row;
		justify-content: space-between;
	}

	.products__item{
		width: 49%;
	}

	.products__item__imgarea{		
		justify-content: flex-end;
	}
}



@media (min-width: 800px){
	.products__filter{
		flex-direction: row;
		height: 45px;
		margin-left: 0;
	}	

	.products__item{
		width: 31.5%;
		margin-right: 4px;
	}

	.products__item__image {
		width: 73.75%;
		height: 13.25vw;
	}

}

@media (min-width: 915px){
	.filter-menu{
		flex-wrap: nowrap;
	}


}

