.wrap{
	width: 100%;
}

.hero__carousel__page a, .header__nav a{
	text-decoration: none;
}

@keyframes menu-animation {
	from {background-color: #c8e9dc;}
	to {background-color: white;}
}

@media(min-width: 640px){
	.wrap{
		width: 60.25%;
		margin-left: 20%;
		margin-right: 19.75%;
	}

}
@media(min-width: 800px){
	.wrap{
		width: 60.25%;
		margin-left: 20%;
		margin-right: 19.75%;
	}

}